@import url(../styles/App.scss);

.modal{
  background-color: #222222;
  box-shadow: inset 6px 6px 20px 2px rgba(90, 90, 90, 0.65);
  width: 52%;
  height: 750px;
  position: absolute;
  border-radius: 0px 20px 20px 0px;
  padding: 20px;
  // display: flex;
  // text-align: center;
  // align-items: center;
  animation: slide-in 0.5s ease-in-out;
  &.modal-closing {
    animation: slide-out 0.5s ease-in-out;
    
  }
  >h2{
    font-size: 6rem;
  }
  .w3c{

    display: flex;
    flex-direction: column;
    justify-content: center;
    .w3chtml{
      width: 90%;
      margin-top: 20px;
      border-radius: 10px;
      >img{
        width: 100%;
        border-radius: 10px;
      }
    }
    .w3ccss{
      width: 90%;
      border-radius: 10px;
      margin-top: 20px;
      >img{
        width: 100%;
        border-radius: 10px;
      }
    }
  }
  .w3cbtn{
    float:right;
    border: none;
    background: transparent;
    color: white;
    font-size: 4.3rem;
    top: 0;
    cursor: pointer;
    position: relative;
    right: 20px;
    top: 20px;
  }
  .w3cbtn:hover{
    color: #40E26E
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }

}

